[tool.poetry]
name = "telegram-seller-bot"
version = "1.0.0"
description = "Savdo va logistika boti"
authors = ["Sizning ismingiz"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
